h1,
h2{
  margin-left: 20px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

a {
  color: #975B57;
}

footer{
  margin-top: auto;
}

.breathing-room {
  padding:10px;
  margin: 5px;
}

.copyright{
  font-size:10px;
}

.content-box{
  border: 2px solid #4F1221;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width:30%;
}

.flex-flow-wrap {
  display:flex;
  flex-wrap: wrap;
}

.form-container{
  padding:25px;
  border:1px solid #22BDCC;
  border-radius: 5px;
}

.full-width {
  width:100%
}

.green {
  color:green;
}

.minor-content{
  margin: auto;
  padding: 5px;
  width: 300px;
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}

.title {
  color: #2B98BD;
 font-size: 20px;
 font-weight: 600;
}

.primary-container {
  margin: 5px;
}

.secondary-container {
  width: 350px;
}

.single-box {
  border: 2px solid #4F1221;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width:30%;
}

.category-list {
  flex-direction: row;
  margin:10px;
}

.item-container {
  margin: 5px;
}

/* Branding colours
  1: turquoise #2B98BD
  2: grey blue #000000
  3: green #2D8A6F
  4: peach-ish #975B57
  5: indigo(?) #4F1221
 */
