<!-- Takes in a list of categories and a list of items -->
{% extends "main.html" %}
{% block content %}
<div class="main">
  <h2>Welcome to Healthy Direction</h2>
  <p>At Healthy Direction we are striving to provide the resources to allow people to find the information they need to become healthier more
    integrated people, be it with hobbies, foods, practices or a simple walk outdoors. Please enjoy the list and if you would like to expand our collection
    do not hesitate to add your own favourites to the lists.</p>
    <hr>
    <div class="category-list">
      <p>At Healthy Direction, we have three categories:</p>
      {% for category in categories %}
      <h3><a href='{{url_for('showOneCategoryAndItems', category_name=category.name)}}'>{{category.name}}</a></h3>
      <p>{{category.description}}<p>
      {% endfor %}
    </div>

    <div class="item-list">
      <h3>Our full and unfiltered list of content!</h3>
        <ul>
          {% for item in items %}
          {% category = list(filter(lambda category: category.id == item.category_id, categories)) %}
          <li><a href='{{url_for('singleItem', category_name=category.name, item_id = item.id)}}'>{{item.name}}</a></li>
          {% endfor %}
        </ul>
    </div>

</div>




{% endblock %}
