<!-- Takes in a list of categories and a list of items -->
{% extends "main.html" %}
{% block content %}
<div class="main">
  <h2>Welcome!</h2>
  <p>At Healthy Direction we are striving to provide the resources to allow people to find the information they need to become healthier more
    integrated people, be it with hobbies, foods, practices or a simple walk outdoors. Please enjoy the list and if you would like to expand our collection
    do not hesitate to add your own favourites to the lists.</p>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li><strong>{{message}}</strong></li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}

    <div class="category-list flex-flow-wrap">
      <div class="full-width">
          <h3>At Healthy Direction, we have three categories:</h3>
      </div>

      {% for category in categories %}
      <div class="content-box">
        <p><a class="title" href='{{url_for('showOneCategoryAndItems', category_name=category.name)}}'>{{category.name}}</a></p>
        <span>{{category.description}}<span>
      </div>
      {% endfor %}
    </div>

    <div class="item-list">
      <h3>See our full and unfiltered list of content below!</h3>
        <ul>
          {% for item in items %}
            {% for category in categories %}
              {% if item.category_id == category.id %}
          <li><a href='{{url_for('singleItem', category_name=category.name, item_id = item.id)}}'>{{item.name}}</a></li>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul>
    </div>

</div>
{% endblock %}
