<html>
  <head>
    <!--Load requirements for google sign-in -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=start"> </script>
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
  </head>

  <body>
    <nav>
      <a class="breathing-room" href='{{url_for('home')}}'>Home</a>
      <a class="breathing-room" href="/users">Sign Up</a>
    </nav>
    <section class="minor-content">
      <div class="title">
        <h1>Login</h1>
      </div>

      <div class="form-container">
        <form action="{{url_for('login')}}" method="POST" enctype="multipart/form-data">
          <label>Name:</label><input type="text" name="name">
          <label>Password:</label><input type="text" name="password">
          <input type="submit" value="Login">
        </form>
      </div>
      <p> ---------------- OR ----------------- </p>
      <div id="signinButton">
        <span class="g-signin"
          data-scope="openid email"
          data-clientid="591163711704-kdf5rrtgmq6vu63lh0fngqdvl5nib5ji.apps.googleusercontent.com"
          data-redirecturi="postmessage"
          data-accesstype="offline"
          data-cookiepolicy="single_host_origin"
          data-callback="signInCallback"
          data-approvalprompt="force">
        </span>
      </div>
      <div id="result"></div>
    </section>
    <script>
      function signInCallback(authResult) {
        if (authResult['code']) {

          document.getElementById("signinButton").style.display = 'none';
          let xhr = new XMLHttpRequest();
          xhr.open('POST', 'oauth/google')
          let div = document.getElementById('result');
          let payload = {
            'data': authResult['code']
          }

          function success(result) {
            if (result) {
              div.innerHTML = 'Login successful.<br> Redirecting home.';
              setTimeout(() => {
                window.top.location.href = "http://localhost:5000/categories";
              }, 2000);
            } else if (authResult['error']) {
              console.log('An error has occured: ' + authResult['error']);
            } else {
              div.innetHTML = 'Failed to contact server. Please check your console or contact administrator.';
            }
          }
          xhr.onload = success;
          xhr.send(JSON.stringify(payload))
          div.innerHTML = 'Searching for funghi... \n\n'
        }
      }
    </script>
  </body>
</html>
