{% extends 'main.html' %}
{% block content %}
<!-- Takes in one category and a list of items -->
<h3>{{category.name}}<h3>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li><strong>{{message}}</strong></li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}
  <a href='{{url_for('newItem', category_name=category.name)}}'>Add a new item</a><br><br>
    {% for item in items %}
      <a href='{{url_for('singleItem', category_name=category.name, item_id = item.id)}}'>{{item.name}}</a>
      <br><br>
      {% if user.id == item.user_id %}
      <a href='{{url_for('editItem', category_name=category.name, item_id=item.id)}}'>Edit</a>
      <a href='{{url_for('deleteItem', category_name=category.name, item_id=item.id)}}'>Delete</a>
      <br><br>
      {% endif %}
    {% endfor %}

<a href='{{url_for('home')}}'>Home</a>

{% endblock %}
