{% extends 'main.html' %}
{% block content %}
<!-- Takes in one category and a list of items -->
<h2>{{category.name}}</h2>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li><strong class="green">{{message}}</strong></li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}
  <div class="full-width">
    <a class="breathing-room" href='{{url_for('newItem', category_name=category.name)}}'>Add a new item</a><br><br>
  </div>
  <div class="flex-flow-wrap space-around">
    {% for item in items %}
    <div class="content-box">
      <a class="title" href='{{url_for('singleItem', category_name=category.name, item_id = item.id)}}'>{{item.name}}</a>
      <br><br>
      {% if user.id == item.user_id %}
      <a href='{{url_for('editItem', category_name=category.name, item_id=item.id)}}'>Edit</a>
      <a href='{{url_for('deleteItem', category_name=category.name, item_id=item.id)}}'>Delete</a>
      {% endif %}
    </div>
      {% endfor %}
  </div>
{% endblock %}
